<!DOCTYPE html>
<html>

<head>
    <title>
        <% visualService.DVM._$.wkname %>
    </title>
    <%- include ../shared/headerInclude.ejs %>

        <link rel="stylesheet" type="text/css" href="/js/webix/webix.css" />
        <!--<link rel="stylesheet" type="text/css" href="/js/webix/skins/compact.css" />-->
        <link rel="stylesheet" type="text/css" href="/js/bootstrap-fileinput/css/fileinput.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/integration/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/integration/integrate.css" />
        <link rel="stylesheet" type="text/css" href="/css/visualization/VisualDetail.css" />

</head>

<body class="left-side-collapsed">
    <section>
        <%- include ../shared/header.ejs %>
            <div class="main-content">

                <div class="wrapper row rander-table">
                    <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <%=visualService.DVM._$.wkname %>
                    </h3>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="visual-service-detail" class="row" style="margin-top: 20px;">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="param-list" style="border: 1px solid #cbcbcb;border-radius: 5px;"></div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="param-detail" style="border: 1px solid #cbcbcb;border-radius: 5px;"></div>
                        </div>
                    </div>

                    <!--region render-->
                    <div class="render-div">
                        <% if(typeof error != 'undefined'){ %>
                            <span id="error"><%=error %></span>
                            <% } %>
                                <% if(typeof visualService != 'undefined'){ %>
                                    <span id="visualService"><%=JSON.stringify(visualService) %></span>
                                    <% } %>
                    </div>
                    <!--endregion-->
                </div>

                <%- include ../shared/footer.ejs %>

            </div>
    </section>
    <%- include ../shared/footerInclude.ejs %>
</body>

</html>