<!DOCTYPE html>
<html>

<head>
    <title>Visualization library</title>
    <%- include ../shared/headerInclude.ejs %>
</head>

<body class="left-side-collapsed">
    <%- include ../shared/header.ejs %>
        <article>
            <div class="main-content">

                <div class="wrapper row rander-table" style="height: 100%;">
                    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Visualization library</h2>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="visual-pager" style="margin: 15px auto;"></div>
                        <div id="visual-table"></div>
                    </div>

                    <!--region render-->
                    <div class="render-div">
                        <% if(typeof error != 'undefined'){ %>
                            <span id="error"><%=error %></span>
                            <% } %>
                                <% if(typeof visualList != 'undefined'){ %>
                                    <span id="visualList"><%=visualList %></span>
                                    <% } %>
                    </div>
                    <!--endregion-->
                </div>


            </div>
        </article>
        <%- include ../shared/footer.ejs %>
</body>
<%- include ../shared/footerInclude.ejs %>

</html>